.navConteiner {
    display: flex;
    padding: 0;
    align-items: center;
    gap: 2rem;
}
.navConteiner a {
    display: flex;
    align-items: center;
}

@media(max-width: 560px){
    .navConteiner{
        display: none;
    }
}
