/* Light */
@font-face {
    font-family: 'AvertaLight';
    src: url("averta-light.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvertaLightItalic';
    src: url("averta-lightitalic.otf");
    font-weight: normal;
    font-style: normal;
}


/* Regular */

@font-face {
    font-family: 'AvertaRegular';
    src: url("averta-regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvertaRegularItalic';
    src: url("averta-regularitalic.otf");
    font-weight: normal;
    font-style: normal;
}


/* Bold */

@font-face {
    font-family: 'AvertaSemiBold';
    src: url("averta-semibold.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvertaSemiBoldItalic';
    src: url("averta-semibolditalic.otf");
    font-weight: normal;
    font-style: normal;
}
