.container_table{
    width: 75rem;
    height: 22.5rem; 
    padding: 1.5rem;
    background: var(--white);
    overflow-y: auto;
    border-radius: 0 0 1rem 1rem;
}
.table {
    width: 60rem;
    height: auto;
    overflow: auto;
    background: var(--white);
}
.table_head {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.table_line_data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.description_empresa {
    font-weight: 400;
    font-size: 1.15rem;
    width: 18rem; 
    margin: 1rem 0 0 1rem;
}

.icon {
    width: 4rem;
    height: 4rem;
    color: var(--brand-300);
}
@media(max-width: 1000px){
    .container_table {
        height: 22.5rem;
        width: 43.75rem;
        overflow: scroll;
    }
}
@media(max-width: 500px){
    .container_table {
        height: 22.5rem;
        width: 31rem;
        overflow: scroll;
    }
    .table_head { 
        width: 31rem;
    }
    .icon {
        width: 6rem;
        height: 6rem;
    }
    .description_empresa {
        margin: 2rem 0 2rem 1rem;
    }
}