.table {
    width: 62rem;
    height: 32rem;
    padding: 1.5rem;
    overflow: auto;
    background: var(--white);
    border-radius: 0 0 1rem 1rem;
}
.table_head {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.table_line_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.2rem;
}
.table_dt {
    display: flex;
    align-items: center;
}
.description_empresa {
    font-weight: 400;
    font-size: 1.15rem;
    margin: 1rem 0 0 1rem;
}

.icon {
    width: 4rem;
    height: 4rem;
    color: var(--brand-300);
}
@media(max-width: 1000px){
    .table {
        width: auto;
        height: auto;
        overflow: scroll;
    }
}
@media(max-width: 500px){
    .table_line_data {
        overflow: scroll;
        padding: 0.3rem;
        margin: 0;
    }
    .icon {
        width: 4.5rem;
        height: 4.5rem;
    }
    .description_empresa {
        margin: 2rem 0 2rem 1rem;
    }
}