.card {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
 border: 1px solid var(--black);
 padding: 2rem;
}
.subCard {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 1rem;
}
.subModalRadix{
   display: flex;
   flex-direction: row;
   border: 1px solid var(--black);
   justify-content: center;
   align-items: center;
   margin: 1rem;
}
 
@media(max-width: 900px){
   .card {
      padding: 1rem;
      grid-template-columns: repeat(2, 1fr);
   }
   .subModalRadix {
      flex-direction: column;
   }
}