.navigation{
    width: 51.3rem;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.navigation a {
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 2rem;
    border: 0.13rem solid var(--black);
    color: var(--brand-900);
    font-size: 1.25rem;
    line-height: 1.5rem;
    transition: color 0.2s;
}
.navigation a:hover {
    background-color: var(--brand-800);
    color: #fff;
}


@media(max-width: 800px) {
    .navigation{
        width: 43.3rem;
    }
}

@media(max-width: 630px) {
    .navigation{
        width: 37.3rem;
    }
}


@media(max-width: 530px) {
    .navigation{
        width: 33rem;
    }
}

@media(max-width: 480px) {
    .navigation{
        width: 24rem;
    }
}


@media(max-width: 400px) {
    .navigation{
        width: 20rem;
    }
}
