.headerContent {
    background: var(--brand-300);
    display: flex;
    flex-direction: row;
    padding: 1rem 8.125rem;
}
.headerContent span {
    color: var(--white);
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--white);
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_itens {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--none, 0rem);
    gap: 0.5rem;
}

@media (max-width: 450px){
    .headerContent {
        padding: 1rem;
    }
}