.container_slider {
    display: flex;
    flex-direction: column;
}
.slider {    
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 0.5rem;
}
.carousel{
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.inner {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 21.5rem;
    height: 15.5625rem;
    background: var(--brand-700);
    border-radius: 0.625rem;
    box-sizing: border-box;
}
.bloco {
    padding: 1rem 1.3rem;
}
.item span {
    margin: 0 0 3rem 0 !important;
    color: var(--white);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}
.item p {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
}
.iconButton{
    width: 4rem;
    height: 4rem;
    position: absolute;
}
.container_slider_indicator {
    display: none;
}
.slider_indicator {
    display: inline-block;
    border-radius: 0.5rem;
    border: 1px solid;
    height: 0.5rem;
    width: 0.5rem;
    margin: 0.2rem;
    cursor: pointer;
}
.slider_indicator_active {
    background: var(--brand-700);
}
@media(max-width: 500px){
    .slider {        
        /*min-height: auto;*/ 
        gap: 0.2rem
    }
    /* .carousel {
        overflow-x: scroll;
    } */

    .carousel {
        cursor: grab;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        scroll-behavior: smooth; /* Adiciona transição suave */
    }
    .item {
        min-width: 24rem;
    }
    .item p { margin-top: 1rem 
    }
    .container_slider_indicator {
        display: flex;
        justify-content: center;
    }
}
