.sectionContainer {
  width: 100%;
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  background: var(--white-100);
}
.sectionContainer h1 {
  color: var(--brand-700);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.sectionContainer p {
  font-size: 1rem;
  line-height: 2.25rem;
  padding: auto;
  margin-top: 1.5rem auto;
}
.sectionContainer span {
  padding: 2rem auto;
  margin: 1rem;
}
.sectionContainer li {
  display: flex;
  margin-left: 2.5rem;
  padding: auto;
}
.title {
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem 0;
  padding: 0.5rem 0 0.5rem 0;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
}
.title h2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
  
@media(max-width: 450px){
  .sectionContainer p {    
    text-align: justify;
    padding: 0.2rem;
    line-height: 2rem;
  }  
}